<div class="modal" tabindex="-1" dir="rtl" id="deleteModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">האם אתה בטוח?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="margin-left: 0"></button>
            </div>
            <div class="modal-body" dir="rtl">
                <p>האם אתה מעונין למחוק יישוב זה?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ביטול</button>
                <button type="button" class="btn btn-danger" onclick="deleteCity()">מחיקה</button>
            </div>
        </div>
    </div>
</div>
